@using ShopCaPhe.Models
@model SANPHAM
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutCaPhe.cshtml";
}
<link href="~/Content/ChiTietSanPham.css" rel="stylesheet" />

<div class="Product-info">
    <div class="info-left">
        <img src="~/Images/@Model.HinhMinhHoa" />
    </div>

    <div class="info-right">
        <h1>@Model.TenSP</h1>
        <h2 style="display:none;">@Model.MaSP</h2>
        <div class="Description">
            <h3><strong>Thể loại:</strong></h3><h5>@Model.LOAISP.TenLoai</h5>
            <p style="border-bottom: 1px dashed #e2e2e2"></p>
            <h3><strong>Đơn vị tính:</strong></h3><h5>@Model.Donvitinh</h5>
        </div>
        <div class="Product-Price">
            <h3><strong>Giá bán:</strong></h3> <span>@string.Format("{0:0,0}", Model.DonGia) VND</span>
        </div>
        <div class="Cart">
            <h3><strong>Số lượng:</strong></h3><h5>@Model.SoLuong</h5>
            <p style="border-bottom: 1px dashed #e2e2e2"></p>
            <h3><strong>Trạng thái:</strong></h3><h5>@Model.TrangThai</h5>
            <div id="SL">
                <button class="btn-Tru" onclick="Tru()">-</button>
                <input type="text" id="txtSL" value="1" />
                <button class="btn-Cong" onclick="Cong()">+</button>
            </div>
            <input type="button" id="btn-Cart" value="Thêm Vào Giỏ Hàng" onclick="DatHang(@Model.MaSP)" />
        </div>
        <div class="review">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <span>@Session["CountDG"] Đánh Giá</span>
            <i>|</i>
            <span><a href="#frmRating">Viết Đánh Giá</a></span>
        </div>
    </div>

</div>
<div class="Tab">
    <a id="Tab-R">Đánh Giá</a>
    <a id="Tab-L">Mô Tả</a>

</div>
<div class="Tab-Description">
    <h3>@Model.TenSP</h3>
    <h3 style="font-size:18px">@Model.MoTa</h3>
</div>
<div class="Tab-Review" id="idReview">
        <div>
            <div style="display:none" class="new-Cmt">
                <div class="review-list">
                    <div class="author">
                        <b></b>
                        Bình Luận Ngày: <span></span>
                    </div>
                    <div class="rating-review">
                    </div>
                    <div class="text-review">

                    </div>
                </div>
            </div>
            @foreach (var dg in (IList<DANHGIASANPHAM>)ViewData["listDG"])
            {
                <div class="review-list">
                    <div class="author">
                        <b>@dg.HoTenKH</b>
                        Bình Luận Ngày: <span>@string.Format("{0:dd/MM/yyyy}", dg.ThoiGian)</span>
                    </div>
                    <div class="rating-review">
                    @if (dg.DiemDG == 1)
                    {
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                    }
                    else if (dg.DiemDG == 2)
                    {
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                    }
                    else if (dg.DiemDG == 3)
                    {
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                    }
                    else if (dg.DiemDG == 4)
                    {
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star " aria-hidden="true"></i>
                    }
                    else if (dg.DiemDG == 5)
                    {
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                    }
                </div>
                <div class="text-review">
                    @dg.BinhLuan
                </div>
            </div>
        }
    </div>
    <h3>Viết Đánh Giá</h3>
    <form class="frm-Rating" id="frmRating">
        <input type="text" id="MaSach" name="MaSach" value="@Model.MaSP" style="display:none;" />
        <input type="text" id="Ngay" name="Ngay" value="@DateTime.Now.ToString()" />
        @if (Session["username"] != null)
        {
            <input disabled style="visibility:hidden" type="text" value="@Session["username"]" name="Name" id="txt-frmRating" />

        }
        else
        {
            <input disabled style="visibility:hidden" type="text" value="@Session["Email"]" name="Name" id="txt-frmRating" />

        }

        @*<span  id="txt-frmRating">@Session["Email"]</span>*@
        <br />
        <p>Bình luận Của Bạn:</p>
        <textarea name="Comment" id="erea-frmRating"></textarea>
        <br />
        <b>Đánh Giá:</b>
        <input type="radio" name="Rating" value="1" onclick="Star(1)" />
        <input type="radio" name="Rating" value="2" onclick="Star(2)" />
        <input type="radio" name="Rating" value="3" onclick="Star(3)" />
        <input type="radio" name="Rating" value="4" onclick="Star(4)" />
        <input type="radio" name="Rating" value="5" onclick="Star(5)" checked="checked" />
        <div class="btn-frmRating">
            <div>
                <input type="button" onclick="BinhLuan()" value="Đăng" class="btn-Rating" id="subRating" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    function BinhLuan() {
        var s = $('#txt-frmRating').val();
        if (s == "") {
            alert("Bạn cần đăng nhập đê bình luận về sản phẩm này !")
            window.location.href = "/Account/LoginSSO";
        }
       
        }



    
    //$('#btntimkiem').on('click', function () {
    //    var giatrinhapvao = $('#searchcontent').val();
    //    alert("yeu");
    //});
</script>

