@using ShopCaPhe.Models
@model List<MENU>
    @{
        ViewBag.Title = "CreateMenu";
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }

    <link href="~/Content/CreateAll.css" rel="stylesheet" />
    <style>
        .frmauthor {
            font-family: serif;
        }

        .btncreate {
            background-color: red;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            color: white;
        }

        table {
            text-align: center;
        }

        .table_Menu td {
            width: 100%;
            display: block;
            margin: 5px 0px;
        }

        th {
            color: white;
            background-color: #17aa67;
        }
    </style>
    <script>
        function validateCreate() {
            var x = document.forms["myForm"]["AuthorName"].value;
            var y = document.forms["myForm"]["History"].value;

            if (x == "" || y == "") {
                alert("Vui lòng điền đầy đủ thông tin sách trước khi tạo !");
                return false;
            }
        }

    </script>
    <h4 style="font-family:serif">@ShopCaPhe.Language.Resource.imenu</h4>
    <hr />
    <form action="/Admin/MenuAdmin/CreateMenu" method="post" name="myForm">
        <form class="frmauthor">
            <div class="context">
                <div class="text_left_author">
                    <p style="font-weight:bold;font-size:20px; font-family:serif">@ShopCaPhe.Language.Resource.imenudetail</p>
                    <table class="table_Menu">
                        <tr>

                            <td>

                                <input type="text" name="MenuName" placeholder="@ShopCaPhe.Language.Resource.imenuname">

                            </td>
                            <td>

                                <input type="text" name="ParentID" placeholder="@ShopCaPhe.Language.Resource.iidmenu">

                            </td>
                            <td>

                                <input type="text" name="Link" placeholder="@ShopCaPhe.Language.Resource.ilinkmenu">

                            </td>

                        </tr>

                    </table>
                    <br />




                    <div>
                        <a href="@Url.Action("CreateMenu","MenuAdmin")" class="btncreate">@ShopCaPhe.Language.Resource.iback</a>

                        <input type="submit" class="btncreate" onclick="return validateCreate()" style="width:130px; background-color:#17aa67" value="@ShopCaPhe.Language.Resource.icreate" />



                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>@ShopCaPhe.Language.Resource.imenuname</th>
                            <th>@ShopCaPhe.Language.Resource.ichildmenu</th>
                            <th>@ShopCaPhe.Language.Resource.icreateday</th>
                            <th>@ShopCaPhe.Language.Resource.iupdatedate</th>
                            <th>@ShopCaPhe.Language.Resource.ilinkmenu</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.ID</td>
                                <td>@item.MenuName</td>
                                <td>@item.ParentID</td>
                                <td>@item.CreateDate</td>
                                <td>@item.UpdateDate</td>
                                <td>@item.Link</td>
                                <td>
                                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                        <a href="@Url.Action("EditMenu", "MenuAdmin", new { id = item.ID })">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                        <a href="@Url.Action("DeleteMenu", "MenuAdmin", new { id = item.ID })">
                                            <i class="material-icons">
                                                close
                                            </i>
                                        </a>
                                    </button>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
                <div class="text_right_author">

                </div>
            </div>
        </form>



    </form>

