<!DOCTYPE html>

<head>
    <!-- Open Graph Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Content/Main1.css" rel="stylesheet" />
    <link href="~/Content/Main2.css" rel="stylesheet" />
    <link href="~/Content/Main3_1.css" rel="stylesheet" />
    <!-- Font-icon css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--them 2 casi nay-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- java-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/Scripts/ThongKe1.js"></script>
</head>
<style>
    .en{
        background-image:url(../../../../Images/vietnam.png);
    }
</style>
<body class="app sidebar-mini rtl" style="font-size:0.820rem;font-family:Arial">
    
    <!-- Navbar-->
    <aside>

        <nav class="navbar fixed-top">
            <a class="navbar-brand" href="#" style="color:#fff">@ShopCaPhe.Language.Resource.ititle</a>
            <!--Notification Menu-->
        </nav>
    </aside>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">

            <img class="app-sidebar__user-avatar" style="width:20%" src="~/Images/@Session["Avartar"]" alt="User Image">
            <div>

                @{
                    var x = Session["Online"];
                  

                }

                <div>
                    <p style="display:inline-block" class="app-sidebar__user-name">@Session["TenDNAdmin"]</p>
           
                        <div style="border-radius:50%; background-color:#17aa67;height:9px; width:9px; display:inline-block;margin-bottom:7px; margin-left:5px"></div>

                </div>
                <p style="display:inline-block" class="app-sidebar__user-designation">@Session["Email"]</p>


            </div>
        </div>
        <hr />
        <div class="language"> <img width="15%" src="~/Images/united-kingdom.png" /> @Html.ActionLink("English", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-US" }, null)             <img width="15%" src="~/Images/vietnam.png" /> @Html.ActionLink("Vietnamese", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "vi-vn" }, null)</div>
        <hr />
        <ul class="app-menu">
            @*<li>
                @Html.ActionLink("English", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-US" }, null)
            </li>
            <li>
                @Html.ActionLink("TiengViet", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "vi-vn" }, null)
            </li>*@
            <li><a class="app-menu__item" href="@Url.Action("IndexAdmin","AdminCRUD")"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label" style="color:#13d37b">@ShopCaPhe.Language.Resource.iHome</span></a></li>
            <li><a class="app-menu__item" href="@Url.Action("IndexAdmin","AdminCRUD")" data-toggle="treeview"><i class="app-menu__icon fa fa-suitcase"></i><span class="app-menu__label">@ShopCaPhe.Language.Resource.iproduct</span></a></li>
            <li><a class="app-menu__item" href="@Url.Action("createLoaiSP","AdminCRUD")" data-toggle="treeview"><i class="app-menu__icon fa fa-tasks"></i><span class="app-menu__label">@ShopCaPhe.Language.Resource.icreateloai</span></a></li>
            <li><a class="app-menu__item" href="@Url.Action("CreateMenu","MenuAdmin")" data-toggle="treeview"><i class="app-menu__icon fa fa-product-hunt" style="color:black"></i><span class="app-menu__label">@ShopCaPhe.Language.Resource.imenu</span></a></li>
            <li><a class="app-menu__item" href="@Url.Action("ThongKe","ThongKe")" data-toggle="treeview"><i class="app-menu__icon fa fa-suitcase"></i><span class="app-menu__label">@ShopCaPhe.Language.Resource.irevenue</span></a></li>
            <li><a class="app-menu__item" href="@Url.Action("HoaDon","ThongKe")" data-toggle="treeview"><i class="app-menu__icon fa fa-suitcase"></i><span class="app-menu__label">@ShopCaPhe.Language.Resource.ibillmanage</span></a></li>
            <li><a class="app-menu__item" href="@Url.Action("LoginAdmin","LoginAdmin")" data-toggle="treeview"><i class="app-menu__icon fa fa-sign-out"></i><span class="app-menu__label">@ShopCaPhe.Language.Resource.iout</span></a></li>
        </ul>
    </aside>
    <main class="app-content">
        @RenderBody()
    </main>

    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)

</body>
</html>