
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="BookManage.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="~/Content/Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/Scripts/GioHang1.js"></script>
    <script src="~/Scripts/Chitiet.js"></script>
    <script type="text/javascript">
        var gmap = new google.maps.LatLng(11.0282148, 106.6229131, 17);
        var marker;
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(11.0282148, 106.6229131, 17),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap")
                , mapProp);

            var styles = [
                {
                    featureType: 'road.arterial',
                    elementType: 'all',
                    stylers: [
                        { hue: '#ffffff' },
                        { saturation: 100 },
                        { lightness: -45 },
                        { visibility: 'on' }
                    ]
                }, {
                    featureType: 'road',
                    elementType: 'all',
                    stylers: [

                    ]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry.fill',
                    stylers: [
                        { color: '#ffffff' }
                    ]
                }, {
                    featureType: 'landscape.natural',
                    elementType: 'all',
                    stylers: [
                        { hue: '#ffffff' },
                        { lightness: -35 }
                    ]
                }
            ];

            var styledMapType = new google.maps.StyledMapType(styles);
            map.mapTypes.set('Styled', styledMapType);

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: gmap
            });
            google.maps.event.addListener(marker, 'click', toggleBounce);
        }

        function toggleBounce() {

            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    @*<style>
            .activetop:focus{
                background-color:red;
            }
            [tabindex="-1"]:focus {
                outline: 0 !important;
            }

            .topnav a[href]:visited {
                background-color: red;
            }
            .topnav a[href]:active{
                background-color: red;
            }
            .topnav a[href]:hover {
                background-color: red;
            }
            .topav a:not([href]):not([tabindex]) {
                 background-color: red;
            }
        </style>*@
</head>

<body>
    <nav>
        <div class="topnav">
            <ul>
                @Html.Action("Menu", "Menu")
                <li>
                    <a href="#" class=" ">En <i class='fas fa-angle-down'></i></a>
                    </li>
                <li><a href="@Url.Action("IndexAdmin","vi-vn/Admin/AdminCRUD")">Admin</a></li>
                <li>
                    <a href="/GioHang/GioHang" class="rightz">
                        <i class="fa fa-shopping-cart"></i>
                        <span><p style="color:red; display:inline-block;padding:0;margin:0">@Session["TongSL"] </p> Sản phẩm - <p style="color:red;display:inline-block;padding:0;margin:0">@Session["TongTien"]</p> VNĐ</span>
                    </a>
                </li>

                @*@if (Session["Email"] == null)
        {
            <li><a href="@Url.Action("Login","Home")" class="rightz activetop">Đăng Nhập</a></li>
        }
        else
        {
            <li> @Html.ActionLink("Đăng xuất", "DangXuat", "Home", null, new { @class = "rightz activetop" }) </li>
            <li><a href="@Url.Action("Login","Home")" class="rightz activetop">Xin chào @Session["Email"]</a></li>


        }*@
                @if (User.Identity.IsAuthenticated)
                {
                    <li> <a href="@Url.Action("SignOut","Account")" class="rightz">Sign Out</a></li>
                    <li><a href="#" class="rightz">Hello @User.Identity.Name</a></li>


                }
                else
                {
                    <li><a href="@Url.Action("LoginSSO","Account")" class="rightz activetop">Đăng Nhập</a></li>

                }


                @*<a href="@Url.Action("Index","Home")" class="activetop">Sản Phẩm  <i class='fas fa-angle-down'></i></a>*@
                @*<ol class="sub-content">
            <li class=""><a href="/ViewSP/LoaiSP?MaLoai=1" class="sub-menu">Cà Phê Chồn</a></li>
            <li class=""><a href="/ViewSP/LoaiSP?MaLoai=3" class="sub-menu">Cà Phê Bột</a></li>
            <li class=""><a href="/ViewSP/LoaiSP?MaLoai=6" class="sub-menu">Cà Phê Hòa Tan</a></li>
            <li class=""><a href="/ViewSP/LoaiSP?MaLoai=5" class="sub-menu">Máy Xay Cà Phê</a></li>
            <li class=""><a href="/ViewSP/LoaiSP?MaLoai=4" class="sub-menu">Máy Pha Cà Phê</a></li>
        </ol>*@
                @*<li><a class="active" href="@Url.Action("TrangChu","Home")">Trang Chủ</a></li>
        <li>
            <a href="@Url.Action("Home","Home")" class="activetop">Giới Thiệu</a>
        </li>
        <li class="sub-li">
            <a href="@Url.Action("Index","Home")" class="activetop">Sản Phẩm  <i class='fas fa-angle-down'></i></a>
            <ol class="sub-content">
                <li class=""><a href="/ViewSP/LoaiSP?MaLoai=1" class="sub-menu">Cà Phê Chồn</a></li>
                <li class=""><a href="/ViewSP/LoaiSP?MaLoai=3" class="sub-menu">Cà Phê Bột</a></li>
                <li class=""><a href="/ViewSP/LoaiSP?MaLoai=6" class="sub-menu">Cà Phê Hòa Tan</a></li>
                <li class=""><a href="/ViewSP/LoaiSP?MaLoai=5" class="sub-menu">Máy Xay Cà Phê</a></li>
                <li class=""><a href="/ViewSP/LoaiSP?MaLoai=4" class="sub-menu">Máy Pha Cà Phê</a></li>
            </ol>
        </li>
        <li>
            <a href="#contact" class="activetop">Tin Tức - Bài Viết</a>
        </li>
        <li>
            <a href="#contact" class="activetop">Liên Hệ</a>
        </li>

                *@
            </ul>

            @*<div class="navbar">
                <a href="#home">Home</a>
                <div class="subnav">
                    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="#company">Company</a>
                        <a href="#team">Team</a>
                        <a href="#careers">Careers</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="#bring">Bring</a>
                        <a href="#deliver">Deliver</a>
                        <a href="#package">Package</a>
                        <a href="#express">Express</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="#link1">Link 1</a>
                        <a href="#link2">Link 2</a>
                        <a href="#link3">Link 3</a>
                        <a href="#link4">Link 4</a>
                    </div>
                </div>*@



            @*@if (ViewBag.error != null)
                {
                    <p style="color:red">@ViewBag.error</p>

                }
                else
                {
                    <p style="color:white">Hi there! Please Sign in</p>


                }*@

            @*<form action="#" class="searchform">
                    <input type="text" placeholder="" name="search" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>*@


        </div>
        </div>




    </nav>
    <header class="header">
        <div class="textbox">
            <h1 class="heading">
                <span class="heading-main">PMP COFFEE</span>
                <span class="heading-sub">COFFEE AND HEALTH</span>
            </h1>
            <a href="#" class="btn btn-animation">Go To Product</a>
        </div>
    </header>
    @*<header class="header">
            <div class="logo-box">
                <img src="Img/logo.png" alt="No IMG" class="logo">
            </div>
            <div class="textbox">
                <h1 class="heading">
                    <span class="heading-main">EVENTSEA</span>
                    <span class="heading-sub">SEA AND NATURALS</span>
                </h1>
                <a href="#" class="btn btn-animation">Go To Event</a>
            </div>
            <nav class="menu">
                <header>Menu <span>×</span></header>
                <ol>
                    <li class="menu-item"><a href="#0">Home</a></li>
                    <li class="menu-item"><a href="#0">About</a></li>
                    <li class="menu-item">
                        <a href="#0">Widgets</a>
                        <ol class="sub-menu">
                            <li class="menu-item"><a href="#0">Grocerry</a></li>
                            <li class="menu-item"><a href="#0">Discount</a></li>
                            <li class="menu-item"><a href="#0">Huge Sale</a></li>
                        </ol>
                    </li>
                    <li class="menu-item">
                        <a href="#0">Juice</a>
                        <ol class="sub-menu">
                            <li class="menu-item"><a href="#0">Russi</a></li>
                            <li class="menu-item"><a href="#0">Paneer Pyaza</a></li>
                            <li class="menu-item"><a href="#0">Rasbhari</a></li>
                        </ol>
                    </li>
                    <li class="menu-item"><a href="#0">Contact</a></li>
                </ol>
                <footer><button aria-label="Toggle Menu">Toggle</button></footer>
            </nav>

        </header>*@
    <aside>
        <div class="content">
            <div class="buttonhead">
            </div>
        </div>
        @*<div class="title">

                <h6>Featured Products</h6>
                <hr>
            </div>*@
        <div class="content-book">

            @RenderBody()
        </div>
    </aside>
    @*<footer>
            <div class="footercontext aa">
                <!-- <li class="tentfirsr">INFORMATION</li> -->
                <li>ABOUT</li>
                <li>DELIVERY</li>
                <li>PRIVACY POLICY</li>
                <li>TEAMS & CONDITIONS</li>
            </div>
            <div class="footercontext bb">
                <!-- <li class="tentfirsr">COSTOMER SERVICE</li> -->
                <li>CONTACT US</li>
                <li>RETURNS</li>
                <li>SITE MAP</li>
                <li>SITE MAP</li>
            </div>
            <div class="footercontext cc">
                <!-- <li class="tentfirsr">EXTRAS</li> -->
                <li>BRANDS</li>
                <li>GIFT VOUCHERS</li>
                <li>AFFILIATES</li>
                <li>SPECIALS</li>
            </div>
            <div class="footercontext dd">
                <!-- <li class="tentfirsr">MY ACCOUNT</li> -->
                <li>MY ACCOUNT</li>
                <li>ORDER HISTORY</li>
                <li>WISH LIST</li>
                <li>NEWSLETTER</li>
            </div>
        </footer>*@
    <footer>
        <div class="footer-left">
            <img src="~/Images/bocongthuong.png" width="60%" class="bct" />
            <p>
                <img src="~/Images/map-icon.png" class="footer-icon" /> Số 421, đường Lê Chí Dân, Khu Phố 7, Phường Tân An, Thị Xã Thủ Dầu Một, Tỉnh Bình Dương.
            </p>
            <p> <img src="~/Images/telephone-icon.png" class="footer-icon" />0913 691 933 - 024 3830219</p>
            <p>   <img src="~/Images/email-icon.png" class="footer-icon" /> phamminhphuc990@gmail.com</p>

        </div>
        <div class="footer-center1">
            <h2>HỖ TRỢ</h2>
            <ul>
                <li><img src="~/Images/check-icon.png" />     Giới thiệu</li>
                <li><img src="~/Images/check-icon.png" />     Giá cả và vận chuyển</li>
                <li><img src="~/Images/check-icon.png" />     Chính sách thanh toán</li>
                <li><img src="~/Images/check-icon.png" />     Chính sách đổi trả</li>
            </ul>
        </div>
        <div class="footer-center2">
            <h2>SẢN PHẨM</h2>
            <ul>
                <li><img src="~/Images/check-icon.png" />  Cà phê chồn</li>
                <li><img src="~/Images/check-icon.png" />  Cà phê hạt</li>
                <li><img src="~/Images/check-icon.png" />  Cà phê xay sẳn</li>
                <li><img src="~/Images/check-icon.png" />  Máy pha cà phê</li>
            </ul>
        </div>
        <div class="footer-right">

            <div id="baogg">
                <iframe class="gg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.138753394701!2d106.6229131142504!3d11.028214792150933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d22130b338fd%3A0x62bbcee38d8a2314!2zNDIxIEzDqiBDaMOtIETDom4sIFTDom4gQW4sIELhur9uIEPDoXQsIELDrG5oIETGsMahbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1544575307779" frameborder="0"></iframe>
            </div>

        </div>
        <div class="contact">
            <div class="gotop">
                <i onclick="topFunction()" id="myIc"> <img src="~/Images/up-arrow.png" /></i>
            </div>
        </div>
        <div class="contact1">

        </div>
        <div class="texxxt">
            <div class="p"><p>POWERED BY OPENCART REALBOOK © 2004</p></div>
            <div class="pp"><p>PayPal</p></div>
            <div class="ppp">
                <div class="link">
                    <div class="network">
                        <a><img src="~/Images/facebook-icon.png" /></a>
                        <a><img src="~/Images/instagram-icon.png" /></a>
                        <a><img src="~/Images/twitter-icon.png" /></a>
                        <a><img src="~/Images/pinterest-icon.png" /></a>
                    </div>

                </div>

            </div>

        </div>

    </footer>


    <script>
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>
</html>
