
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="BookManage.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
    <link href="~/Content/Layout1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="~/Scripts/numeral.js"></script>
    <script src="~/Scripts/GioHang55.js"></script>
    <script src="~/Scripts/Chitiet.js"></script>

    <script type="text/javascript">

        var gmap = new google.maps.LatLng(11.0282148, 106.6229131, 17);
        var marker;
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(11.0282148, 106.6229131, 17),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap")
                , mapProp);

            var styles = [
                {
                    featureType: 'road.arterial',
                    elementType: 'all',
                    stylers: [
                        { hue: '#ffffff' },
                        { saturation: 100 },
                        { lightness: -45 },
                        { visibility: 'on' }
                    ]
                }, {
                    featureType: 'road',
                    elementType: 'all',
                    stylers: [

                    ]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry.fill',
                    stylers: [
                        { color: '#ffffff' }
                    ]
                }, {
                    featureType: 'landscape.natural',
                    elementType: 'all',
                    stylers: [
                        { hue: '#ffffff' },
                        { lightness: -35 }
                    ]
                }
            ];

            var styledMapType = new google.maps.StyledMapType(styles);
            map.mapTypes.set('Styled', styledMapType);

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: gmap
            });
            google.maps.event.addListener(marker, 'click', toggleBounce);
        }

        function toggleBounce() {

            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <style>
        .hide {
            display:none;
        }

        .fab {
            padding: 9px;
            font-size: 50px;
            width: 70px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }

        .fab:hover {
            font-size:58px;
            width:80px;
            transition:all .2s;

        }

        .fa-facebook-messenger {
            background: #3B5998;
            color: white;
        }


    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
        if (localStorage.getItem("fbchatclose") == 1) {

            jQuery('.fbchatbox').toggleClass('hide');

            jQuery('#closefbchat').html('<i  class="fab fa-facebook-messenger"></i>').css({ 'bottom': 0, 'width': 87, 'background': 'none' });
        }

        setTimeout(function () {
            $("#closefbchat").removeClass("hide");
        }, 1000);


        jQuery('#closefbchat').click(function () {
            jQuery('.fbchatbox').toggleClass('hide');
            if (jQuery('.fbchatbox').hasClass('hide')) {
                localStorage.setItem("fbchatclose", 1);

                jQuery('#closefbchat').html('<i  class="fab fa-facebook-messenger"></i>').css({ 'bottom': 0, 'width': 87, 'background': 'none' });
            }
            else {
                localStorage.setItem("fbchatclose", 0);
                jQuery('#closefbchat').text('x').css({ 'bottom': 270, 'width': 35, 'background':'red', 'padding':3 });
            }
            });
        });
    </script>




</head>

<body>
    <nav>
        <div class="topnav">
            <ul>
                @Html.Action("Menu", "Menu")
                <li>
                    <a href="#" class=" ">En <i class='fas fa-angle-down'></i></a>
                </li>
                <li><a href="@Url.Action("IndexAdmin","vi-vn/Admin/AdminCRUD")">Admin</a></li>
                <li>
                    <a href="/GioHang/GioHang" class="rightz">
                        <i class="fa fa-shopping-cart"></i>
                        <span><p style="color:red; display:inline-block;padding:0;margin:0">@Session["TongSL"] </p> Sản phẩm - <p style="color:red;display:inline-block;padding:0;margin:0">@Session["TongTien"]</p> VNĐ</span>
                    </a>
                </li>
                @if (Session["username"] != null)
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <li> <a href="@Url.Action("SignOut","Account")" class="rightz">Đăng Xuất</a></li>
                        <li><a href="#" class="rightz">Hello @User.Identity.Name</a></li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("dangky","Home")" class="rightz activetop">Đăng Ký</a></li>
                        <li><a href="@Url.Action("LoginSSO","Account")" class="rightz activetop">Đăng Nhập</a></li>



                    }
                }
                else
                {

                    if (Session["Email"] != null)
                    {
                        <li> <a href="@Url.Action("DangXuat","Home")" class="rightz">Đăng Xuất</a></li>
                        <li><a href="#" class="rightz">Hello @Session["Email"]</a></li>


                    }
                    else
                    {
                        <li><a href="@Url.Action("dangky","Home")" class="rightz activetop">Đăng Ký</a></li>
                        <li><a href="@Url.Action("LoginSSO","Account")" class="rightz activetop">Đăng Nhập</a></li>

                    }

                }


            </ul>
        </div>
    </nav>
    <header class="header">
        <div class="textbox">
            <h1 class="heading">
                <span class="heading-main">PMP COFFEE</span>
                <span class="heading-sub">COFFEE AND HEALTH</span>
            </h1>
            <a href="#" class="btn btn-animation">Go To Product</a>
        </div>
    </header>
    <aside>
        <div class="content">
            <div class="buttonhead">
            </div>
        </div>
        <div class="content-book">

            @RenderBody()
        </div>
    </aside>
    <footer>
        <div class="footer-left">
            <h2 style="margin-bottom:12px">LIÊN HỆ</h2>
            <p>
                <img src="~/Images/map-icon.png" class="footer-icon" /> Số 421, đường Lê Chí Dân, Khu Phố 7, Phường Tân An, Thị Xã Thủ Dầu Một, Tỉnh Bình Dương.
            </p>
            <p> <img src="~/Images/telephone-icon.png" class="footer-icon" />0913 691 933 - 024 3830219</p>
            <p>   <img src="~/Images/email-icon.png" class="footer-icon" /> phamminhphuc990@gmail.com</p>

        </div>
        <div class="footer-center1">
            <h2>HỖ TRỢ</h2>
            <ul>
                <li><img src="~/Images/check-icon.png" />     Giới thiệu</li>
                <li><img src="~/Images/check-icon.png" />     Giá cả và vận chuyển</li>
                <li><img src="~/Images/check-icon.png" />     Chính sách thanh toán</li>
                <li><img src="~/Images/check-icon.png" />     Chính sách đổi trả</li>
            </ul>
        </div>
        <div class="footer-center2">
            <h2>SẢN PHẨM</h2>
            <ul>
                <li><img src="~/Images/check-icon.png" />  Cà phê chồn</li>
                <li><img src="~/Images/check-icon.png" />  Cà phê hạt</li>
                <li><img src="~/Images/check-icon.png" />  Cà phê xay sẳn</li>
                <li><img src="~/Images/check-icon.png" />  Máy pha cà phê</li>
            </ul>
        </div>
        <div class="footer-right">

            <div id="baogg">
                <iframe class="gg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.138753394701!2d106.6229131142504!3d11.028214792150933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d22130b338fd%3A0x62bbcee38d8a2314!2zNDIxIEzDqiBDaMOtIETDom4sIFTDom4gQW4sIELhur9uIEPDoXQsIELDrG5oIETGsMahbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1544575307779" frameborder="0"></iframe>
            </div>

        </div>
        <div class="contact">
            <div class="gotop">
                <i onclick="topFunction()" id="myIc"> <img src="~/Images/up-arrow.png" /></i>
            </div>
        </div>
        <div class="contact1">

        </div>
        <div class="texxxt">
            <div class="p"><p>POWERED BY OPENCART REALBOOK © 2004</p></div>
            <div class="pp"><p>PayPal</p></div>
            <div class="ppp">
                <div class="link">
                    <div class="network">
                        <a><img src="~/Images/facebook-icon.png" /></a>
                        <a><img src="~/Images/instagram-icon.png" /></a>
                        <a><img src="~/Images/twitter-icon.png" /></a>
                        <a><img src="~/Images/pinterest-icon.png" /></a>
                    </div>

                </div>

            </div>

        </div>

    </footer>


    <script>
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10";
            fjs.parentNode.insertBefore(js, fjs);

        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="baongoai" style="position:fixed;right:10px;bottom:0;z-index:9999">
        <div class="fbchatbox hidden-xs">
            <div class="fb-page" data-href="108701114146441" data-small-header="true" data-adapt-container-width="false" data-height="300" data-width="300" data-hide-cover="true" data-show-facepile="true" data-show-posts="false" data-tabs="messages"><div class="fb-xfbml-parse-ignore"><blockquote cite="108701114146441"><a href="108701114146441">108701114146441</a></blockquote></div></div>
        </div>
        <span class="hide" id="closefbchat" style="text-align:center; right:0px;white-space: nowrap;position:absolute;bottom:270px;width:35px;padding:3px;background:red ;color: #fff;cursor: pointer;">x</span>
    </div>

</body>
</html>






