@using ShopCaPhe.Models
@model List<SANPHAM>
@{
    ViewBag.Title = "timkiem";
    Layout = "~/Views/Shared/_LayoutCaPhe.cshtml";
}
<link href="~/Content/Index.css" rel="stylesheet" />
<div class="title">
    @if (Model.Count > 0)
    {<h6>Số sản phẩm tìm được khớp với từ khóa @Session["nametimkiem"] là: @Model.Count</h6><div class="search-container">
        <form action="/Home/timkiem">
            <input type="text" id="searchcontent" placeholder="Search.." name="name">
            <button id="btntimkiem" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <hr>
    <form action="" method="post">
        <div class="book-content">
            @*@{ int i = 0;}*@
            @foreach (var item in Model)
            {
                //i++;
                <div id="sanpham">
                    <div id="anhbia"><img src="~/Images/@item.HinhMinhHoa" /></div>
                    <div id="tensach">@item.TenSP</div>
                    <div id="tieude">
                        @item.LOAISP.TenLoai
                    </div>
                    <div class="price">
                        <span id="agia">@item.DonGia đ</span>

                    </div>
                    <div class="tooltip-content">
                        <ul>
                            <li class="tooltip-li li1"><a id="txtmua" onclick="DatHang(@item.MaSP)"><i class="fa fa-shopping-basket"></i></a></li>
                            <li class="tooltip-li li2"><a id="myBtn" onclick="Poppup(@item.MaSP)"><i class="fa fa-exchange"></i></a></li>
                            <li class="tooltip-li li3"><a href="~/ViewSP/ChiTietSanPham?MaSP=@item.MaSP"><i class="fa fa-eye" style="color:black"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>THÔNG TIN SẢN PHẨM</h2>
                            <span class="close">&times;</span>

                        </div>
                        <div class="modal-body">
                            <p>@item.MaSP</p>
                            <p>zzzzz</p>
                            <p>zzzzz</p>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>

            }
        </div>
    </form>
}
else
{

    <h3 style="text-align:center">Không tìm thấy sản phẩm vào phù hợp với từ khóa @Session["nametimkiem"] !</h3>
    <img width="50%" src="~/Images/Fail.jpg" style="margin-left:25%; display:inline-block" />
    <a href="~/Home/Index" style="display:block">Quay về trang sản phẩm</a>


}


    <script>
        // Get the modal
        var modelz = document.getElementById("myModal");

        // Get the button that opens the modal

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var btn = document.getElementById("myBtn");

        // When the user clicks the button, open the modal

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modelz.style.display = "none";
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
