
@{
    ViewBag.Title = "CreateSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }
    .context{
        color:black;
    }
    .dropdown{
        color:black;
    }
</style>
<script>
    function validateCreate() {
        var x = document.forms["myForm"]["name"].value;
        var y = document.forms["myForm"]["mota"].value;
        var z = document.forms["myForm"]["Loai"].value;
        var k = document.forms["myForm"]["SL"].value;
        var g = document.forms["myForm"]["trangthai"].value;
        var h = document.forms["myForm"]["gia"].value;
        var j = document.forms["myForm"]["dvtinh"].value;

        if (x == "" || y == "" || z == "" || g == "" || h == "" || j == "" || k == "" || l == "") {
            alert("Vui lòng điền đầy đủ thông tin sách trước khi tạo !");
            return false;
        }
    }

</script>
<h2>@ShopCaPhe.Language.Resource.icreateproduct</h2>
<hr />

<form action="/vi-vn/Admin/AdminCRUD/Tao" method="post" name="myForm">
    <div class="context">
        <div class="text_left">
            <p style="font-weight:bold;font-size:20px;">@ShopCaPhe.Language.Resource.idetailproduct</p>
            <br />


            <table class="table_A">
                <tr>
                    <td>

                        <input type="text" name="name" placeholder="@ShopCaPhe.Language.Resource.iproductname">

                    </td>

                </tr>
                <tr>
                    <td><input type="text" name="mota" placeholder="@ShopCaPhe.Language.Resource.imota" /></td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("Loai", (IEnumerable<SelectListItem>)ViewBag.Loai, ShopCaPhe.Language.Resource.iloaisp, new { @class = "dropdown" })
                    </td>
                </tr>
                @*<tr>
                    <td> @Html.DropDownList("author", (IEnumerable<SelectListItem>)ViewBag.AuthorList, "Chọn tác giả", new { @class = "dropdown" })</td>
                </tr>
                <tr>
                <tr>
                    <td>@Html.DropDownList("pub", (IEnumerable<SelectListItem>)ViewBag.PubList, "Chọn nhà xuất bản", new { @class = "dropdown" })</td>
                </tr>*@
                <tr>
                    <td><input type="text" name="gia" placeholder="@ShopCaPhe.Language.Resource.iprice" /></td>
                </tr>
                <tr>
                    <td>
                        <select class="dropdown" name="dvtinh">
                            <option value="Ký">@ShopCaPhe.Language.Resource.iunit</option>
                            <option value="Ký">Ký</option>
                            <option value="Hộp">Hộp</option>
                            <option value="Máy">Máy</option>
                            <option value="Túi">Túi</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" name="SL" placeholder="@ShopCaPhe.Language.Resource.isumary" /></td>
                </tr>
                <tr>
                    <td>
                        <select class="dropdown" name="trangthai">
                            <option value="Đang Bán">@ShopCaPhe.Language.Resource.istatus</option>
                            <option value="Đang Bán">Đang Bán</option>
                            <option value="Ngưng Bán">Ngưng Bán</option>
                            <option value="Trưng Bày">Trưng Bày</option>
                        </select>
                    </td>

                </tr>

            </table>
            <br />

            <div>
                <a href="@Url.Action("IndexAdmin","AdminCRUD")" class="btncreate">@ShopCaPhe.Language.Resource.iback</a>

                <input type="submit" class="btncreate" onclick="return validateCreate()" style="width:165px; background-color:#17aa67" value="@ShopCaPhe.Language.Resource.icreateproduct" />

            </div>
        </div>>
        <div class="text_right">

            <img id="pictureUpload" width=60% height="250px" />
            @section upload
  {
                <script>
                    $(function () {
                        //đăng ký sự kiện click nút btnUpload
                        $('#btnUpload').click(function () {
                            $('#fileUpload').trigger('click');


                        });
                        // Bắt sự kiện change data của file Upload
                        $('#fileUpload').change(function () {
                            //Kiểm tra trình duyệt có hỗ trợ FormData object không.
                            if (window.FormData !== undefined) {
                                //lấy dữ liệu trên fileUpload
                                var fileUpload = $("#fileUpload").get(0);
                                var files = fileUpload.files;
                                //tạo đối tượng formdata
                                var formData = new FormData();
                                //đưa dữ liệu vào form
                                formData.append('file', files[0]);
                                //var inputVal = $('#fileUpload').val();
                                //alert(inputVal);

                                $.ajax(
                                    {
                                        type: 'POST',
                                        url: '/AdminCRUD/ProcessUpload',
                                        contentType: false,
                                        processData: false,
                                        data: formData,
                                        success: function (urlImage) {
                                            $('#pictureUpload').attr('src', urlImage);
                                            $('#picture').val(urlImage);
                                            $('#picture').text(urlImage);
                                        },
                                        error: function (err) {
                                            alert('co loi khi upload:' + err.statusText);
                                        }
                                    });

                            }
                        });
                    });
                </script>
            }
            <br />
            <br />
            <div class="from-inline">
                <input type="button" id="btnUpload" value="@ShopCaPhe.Language.Resource.ichooseimg" class="btn_Choose" />

                <input style="visibility:hidden" type="text" name="picture" id="picture" />
                <input style="visibility:hidden" type="file" id="fileUpload" name="fileUpload" />
            </div>
        </div>

    </div>
</form>
