@using ShopCaPhe.Models
@model List<LOAISP>
@{
    ViewBag.Title = "createLoaiSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/CreateAll.css" rel="stylesheet" />
<style>
    .frmauthor {
        font-family: serif;
    }

    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }

    table {
        text-align: center;
    }

    th {
        color: white;
        background-color: #17aa67;
    }
</style>
<script>
    function validateCreate() {
        var x = document.forms["myForm"]["AuthorName"].value;
        var y = document.forms["myForm"]["History"].value;

        if (x == "" || y == "") {
            alert("Vui lòng điền đầy đủ thông tin sách trước khi tạo !");
            return false;
        }
    }

</script>
<h4 style="font-family:serif">@ShopCaPhe.Language.Resource.icreateproduct</h4>
<hr />
<form action="/vi-vn/Admin/AdminCRUD/createLoaiSP" method="post" name="myForm">
        <div class="context">
            <div class="text_left_author">
                <p style="font-weight:bold;font-size:20px; font-family:serif">@ShopCaPhe.Language.Resource.icategorydetail</p>
                <table class="table_Author">
                    <tr>
                        <td>

                            <input type="text" name="TenLoaiSP" placeholder="@ShopCaPhe.Language.Resource.icategoryname">

                        </td>

                    </tr>

                </table>
                <br />




                <div>
                    <a href="@Url.Action("IndexAdmin","AdminCRUD")" class="btncreate">@ShopCaPhe.Language.Resource.iback</a>

                    <input type="submit" class="btncreate" onclick="return validateCreate()" style="width:130px; background-color:#17aa67" value="@ShopCaPhe.Language.Resource.icreate" />



                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@ShopCaPhe.Language.Resource.iID</th>
                        <th>@ShopCaPhe.Language.Resource.icategoryname</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>@item.MaLoai</td>
                        <td>@item.TenLoai</td>
                        <td>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                <a href="@Url.Action("DeleteLoai", "AdminCRUD", new { id = item.MaLoai })">
                                    <i class="material-icons">
                                        close
                                    </i>
                                </a>
                            </button>
                        </td>

                    </tr>
                        
                    }

                </tbody>
            </table>
            <div class="text_right_author">

            </div>
        </div>
    </form>

