@model ShopCaPhe.Models.LOAISP
@{
    ViewBag.Title = "DeleteLoai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }

    th {
        background-color: #17aa67;
        color: white;
    }

    table {
        border: solid 1px white;
    }

    td {
        background-color: white;
    }

    .table-bordered {
        text-align: center;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="w3-container w3-brown">
        <h2>@ShopCaPhe.Language.Resource.ideletecategory</h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@ShopCaPhe.Language.Resource.iID</th>
                <th>@ShopCaPhe.Language.Resource.icategoryname</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.MaLoai)
                </td>
                <td>  @Html.DisplayFor(model => model.TenLoai)</td>

        </tbody>
    </table>
    <script>
        function xoa() {
            alert("Xóa thành công!");
        }
    </script>

    <a href="@Url.Action("createLoaiSP","AdminCRUD")" class="btncreate">@ShopCaPhe.Language.Resource.iback</a>

    <input type="submit" onclick="xoa()" class="btncreate" style="width:130px; background-color:black" value="@ShopCaPhe.Language.Resource.idelete" />

}
